bin/assets/
run/
bin/
build/
eclipse/
logs/
mods/
config/
saves/
.gradle/
.settings/
gradlew
gradlew.bat
server.properties 
gradle/
*.properties 
.gradle/
screenshots/
.metadata/
.settings/
PowerApples/
Beetroot/
BucketBlocks/
.classpath
EnderProjectiles/
CarbonPaper/
HorseFood/
FragileTorches/
InventoryCrafting/
MountedPearl/
BlockControl/
CG/
DH/
II/
PE/
IT/
IG/
PMH/
Pfaeffs/
HI/
.project
gradlew
options.txt
usernamecache.json
crash-reports/
*.fdx
*.fnm
*.tis
.recommenders/
.gitattributes
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
/bin/
